---
interface Props {
    src: string;
    src1: string;
    src2: string;
    alt: string;
}

const { src, src1, src2, alt } = Astro.props;
---

<div class="carrusel">
    <div class="conteiner-all">
        <input type="radio" id="1Car" name="slideImg" hidden />
        <input type="radio" id="2Car" name="slideImg" hidden />
        <input type="radio" id="3Car" name="slideImg" hidden />

        <div class="slide">
            <div class="SlideItem">
                <img src={src} alt={alt} />
                <img src={src1} alt={alt} />
                <img src={src2} alt={alt} />
                <img src={src2} alt={alt} />
                <img src={src2} alt={alt} />
            </div>
        </div>
    </div>

    <style>
        .carrusel {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .conteiner-all {
            position: relative;
            width: 100%;
            border-radius: 6px;
            overflow: hidden;
            box-sizing: border-box;
        }

        .slide {
            display: flex;
            transform: translate3d(0, 0, 0);
            transition: all 10s ease-in-out;
            animation-name: autoplay;
            animation-duration: 20s;
            animation-direction: alternate;
            animation-fill-mode: both;
            animation-iteration-count: infinite;
        }

        .SlideItem {
            position: relative;
            display: flex;
            flex-direction: row;
            flex-shrink: 0;
            flex-grow: 0;
            max-width: 100%;
            height: 180px;
        }

        @keyframes autoplay {
            0% {
                transform: translate3d(calc(-100% * 0), 0, 0);
            }
            50% {
                transform: translate3d(calc(-100% * 1), 0, 0);
            }
            100% {
                transform: translate3d(calc(-100% * 2), 0, 0);
            }
        }

        @media screen and (min-width: 768px) {
            .carrusel {
                display: flex;
                align-items: center;
                justify-content: center;
                
            }

            .conteiner-all {
                position: relative;
                max-width: 1000px;
                width: 100%;
                border-radius: 6px;
                overflow: hidden;
                box-sizing: border-box;
            }

            .slide {
                display: flex;
                transform: translate3d(0, 0, 0);
                transition: all 10s ease-in-out;
                animation-name: autoplay;
                animation-duration: 8s;
                animation-direction: alternate;
                animation-fill-mode: both;
                animation-iteration-count: infinite;
            }

            .SlideItem {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-shrink: 0;
                flex-grow: 0;
                max-width: 100%;
            }
            /* @keyframes autoplay {
                0% {
                    transform: translate3d(calc(-100% * 0), 0, 0);
                }
                50% {
                    transform: translate3d(calc(-100% * 1), 0, 0);
                }
                100% {
                    transform: translate3d(calc(-100% * 2), 0, 0);
                }
            } */
        }
    </style>
</div>
